# Laravel Directories
/vendor
/node_modules
/storage/*.key
/storage/pail
/storage/framework/*
!storage/framework/.gitignore
/storage/logs/*
!storage/logs/.gitignore
/public/storage
/public/hot
!/public/build
/public/mix-manifest.json

# Laravel Environment Files
.env
.env.*
!.env.example

# Cache & Test
/.phpunit.cache
/phpunit.result.cache

# Composer / NPM / Yarn
composer.lock
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
auth.json

# IDE & Editor Configs
/.phpactor.json
/.idea
/.vscode
/.zed
/.fleet

# Homestead
Homestead.json
Homestead.yaml

# Laravel Nova (if used)
/.nova
