services:
  - type: web
    name: urpocketdigicam
    env: php
    plan: free
    buildCommand: |
      apt-get update && apt-get install -y npm
      composer install --no-dev --optimize-autoloader
      npm install
      npm run build
      php artisan migrate --force
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
    startCommand: php artisan serve --host 0.0.0.0 --port $PORT
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        generateValue: true
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://urpocketdigicam-web.onrender.com
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: ep-delicate-haze-a1feluh6-pooler.ap-southeast-1.aws.neon.tech
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: neondb
      - key: DB_USERNAME
        value: neondb_owner
      - key: DB_PASSWORD
        value: npg_yDkxS7ZYC0rb
      - key: CLOUDINARY_URL
        value: cloudinary://642563442393488:CzxHU2fl_M-WpOz1XJcLIbnBDFk@dyuzqop5g
