services:
  - type: web
    name: urpocketdigicam
    runtime: docker
    plan: free
    region: singapore
    dockerfilePath: ./Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        generateValue: true
      - key: APP_URL
        value: https://urpocketdigicam.onrender.com

      # === Database (Postgres / Neon) ===
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: ep-delicate-haze-a1feluh6-pooler.ap-southeast-1.aws.neon.tech
      - key: DB_PORT
        value: 5432
      - key: DB_DATABASE
        value: neondb
      - key: DB_USERNAME
        value: neondb_owner
      - key: DB_PASSWORD
        value: npg_yDkxS7ZYC0rb

      # === Cloudinary ===
      - key: FILESYSTEM_DISK
        value: cloudinary
      - key: CLOUDINARY_URL
        value: cloudinary://642563442393488:CzxHU2fl_M-WpOz1XJcLIbnBDFk@dyuzqop5g
